In [13]:
# Import necessary packages
from matplotlib.axes._axes import _log as matplotlib_axes_logger
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import earthpy as et

# Handle date time conversions between pandas and matplotlib
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

# Dealing with error thrown by one of the plots
matplotlib_axes_logger.setLevel('ERROR')
import warnings
warnings.filterwarnings('ignore')


# Adjust font size and style of all plots in notebook with seaborn
sns.set(font_scale=1.5, style="whitegrid")

In [14]:
# Define relative path to the data
file_path = 'data/colorado-flood/precipitation/805325-precip-daily-2003-2013.csv'

print(file_path)

file_path2 = os.path.join(  'data',
                            'colorado-flood',
                            'precipitation',
                            '805235-precip-daily-2003-2013.csv')
print(file_path2)

data/colorado-flood/precipitation/805325-precip-daily-2003-2013.csv
data/colorado-flood/precipitation/805235-precip-daily-2003-2013.csv

In [15]:
# Import the file as a pandas dataframe
boulder_precip_2003_2013 = pd.read_csv(file_path)
boulder_precip_2003_2013.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,HPCP,Measurement Flag,Quality Flag
0,COOP:050843,BOULDER 2 CO US,1650.5,40.03389,-105.28111,20030101 01:00,0.0,g,
1,COOP:050843,BOULDER 2 CO US,1650.5,40.03389,-105.28111,20030201 01:00,0.0,g,
2,COOP:050843,BOULDER 2 CO US,1650.5,40.03389,-105.28111,20030202 19:00,0.2,,
3,COOP:050843,BOULDER 2 CO US,1650.5,40.03389,-105.28111,20030202 22:00,0.1,,
4,COOP:050843,BOULDER 2 CO US,1650.5,40.03389,-105.28111,20030203 02:00,0.1,,

In [16]:
boulder_precip_2003_2013.describe()

       ELEVATION     LATITUDE    LONGITUDE         HPCP
count     1840.0  1840.000000  1840.000000  1840.000000
mean      1650.5    40.033851  -105.281106    51.192587
std          0.0     0.000045     0.000005   220.208147
min       1650.5    40.033800  -105.281110     0.000000
25%       1650.5    40.033800  -105.281110     0.100000
50%       1650.5    40.033890  -105.281110     0.100000
75%       1650.5    40.033890  -105.281100     0.100000
max       1650.5    40.033890  -105.281100   999.990000

In [17]:
# Import the file as a pandas dataframe
boulder_precip_2003_2013 = pd.read_csv(file_path,
                                        parse_dates=['DATE'],
                                        index_col=['DATE'],
                                        na_values=['999.99'])
boulder_precip_2003_2013.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,HPCP,Measurement Flag,Quality Flag
DATE,,,,,,,,
2003-01-01 01:00:00,COOP:050843,BOULDER 2 CO US,1650.5,40.03389,-105.28111,0.0,g,
2003-02-01 01:00:00,COOP:050843,BOULDER 2 CO US,1650.5,40.03389,-105.28111,0.0,g,
2003-02-02 19:00:00,COOP:050843,BOULDER 2 CO US,1650.5,40.03389,-105.28111,0.2,,
2003-02-02 22:00:00,COOP:050843,BOULDER 2 CO US,1650.5,40.03389,-105.28111,0.1,,
2003-02-03 02:00:00,COOP:050843,BOULDER 2 CO US,1650.5,40.03389,-105.28111,0.1,,

In [18]:
boulder_precip_2003_2013.describe()

       ELEVATION     LATITUDE    LONGITUDE         HPCP
count     1840.0  1840.000000  1840.000000  1746.000000
mean      1650.5    40.033851  -105.281106     0.111856
std          0.0     0.000045     0.000005     0.093222
min       1650.5    40.033800  -105.281110     0.000000
25%       1650.5    40.033800  -105.281110     0.100000
50%       1650.5    40.033890  -105.281110     0.100000
75%       1650.5    40.033890  -105.281100     0.100000
max       1650.5    40.033890  -105.281100     2.200000

In [19]:
boulder_precip_2003_2013.plot(y="HPCP",
                              title="Hourly Precipitation")
plt.show()